/* Vars-Required-From:
 *   Nil
 *
 * Vars-Set-From:
 *   Nil
 */

 ul.post-list li { 
 	list-style-type: none;
 	margin-left: -6.5%; }

 article.post-article h3 a {
 	color: #015199; }

span.post-meta {
	font-size: .8em; }