ul.post-list li { 
 	list-style-type: none;
 	margin-left: -6.5%; }

article ul {
 	margin-left: 0 !important; }
 
article ul li {
 	list-style-type: disc !important; }

article.post-article {
	margin-bottom: 10%;
}

article.post-article h3 a {
 	color: #015199; }

span.post-meta {
	font-size: .8em; }