<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% include head.html %}
    {% for sheet in page.css %}
      <link rel='stylesheet' href='{{ site.baseurl }}/assets/css/{{ sheet }}.css'>
    {% endfor %}
  </head>
  <body>
    <div class='layout'>
      {% include sections/header.html %}
      <main id='site-main' class='pure-g site-main'>
        {% assign site-sidebar-side = site.layout.sidebar.style | default: 'left' %}
        {% if site-sidebar-side == 'left' %}
          {% include sections/sidebar.html %}
        {% endif %}
        <div id='site-container' class='pure-u-1 site-container'>
          {{ content }}
        </div>
        {% if site-sidebar-side == 'right' %}
          {% include sections/sidebar.html %}
        {% endif %}
      </main>
      {% include sections/footer.html %}
    </div>
  </body>
</html>
